.border {
	&-bottom {
		border-bottom: $border;
	}
}
.border-radius {
	&--none {
		border-radius: 0;
	}
}

.box-shadow {
	box-shadow: $box-shadow;
}

.hide {
	display: none;
}
.width-100{
	width: 100%;
}
.flex{
	display:flex;
}
.flex-column{
	flex-direction:column;
}