.c-fs {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: baseline;
    &:not(.c-popup--select-shop) {
        .card {
            min-height: 600px;
            &-title {
                @extend .typo-headline;
                box-shadow: inset 0 -1px 0 0 #dee2e6;
                padding: 10px 24px;
                display: flex;
                align-items: center;
                button {
                    background: none;
                    border: none;
                    outline: none;
                }
            }
            &-body {
                position: relative;
                padding: 8px 24px 24px;
            }
        }
    }
    .c-modal {
        &__wrapper {
            width: 536px;
        }
    }
    &__block {
        .title {
            @extend .typo-text--large;
            font-weight: 500;
            margin-bottom: 8px;
        }
        &--checkbox {
            display: inline-flex;
            align-items: center;
            margin-bottom: 16px;
            label {
                display: inline-flex;
                align-items: center;
                position: relative;
                .form-label-text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #444B52;
                }
            }
            input.form-checkbox {
                position: relative;
                margin: -2px 8px 0 0;
            }
            input[type='checkbox'].form-checkbox:checked {
                +.form-label-text {
                    font-weight: 500;
                }
            }
        }
        &--location {
            .title {
                @extend .typo-text;
                font-weight: 500;
                margin-bottom: 8px;
                span {
                    font-weight: 400;
                }
            }
            .radio .btn {
                top: 24px;
            }
            .badge {
                background: #EDEEEF;
                border-radius: 4px;
                padding: 4px;
                margin-bottom: 4px;
                a {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    color: #6A737A;
                }
            }
        }
    }
    &__dropdown {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        .c-dropdown {
            flex: 1;
            &:not(:last-child) {
                margin-right: 8px;
            }
            &-button {
                background: none;
                height: auto;
            }
            &-menu {
                a {
                    white-space: normal;
                }
            }
            &__wrapper {
                min-width: 372px;
            }
        }
    }
    &__location {
        width: 100%;
        border: solid 1px #cbd1d6;
        background-color: #ffffff;
        border-radius: 4px;
        padding: 4px 16px 0;
        margin-bottom: 20px;
        max-height: 100%;
        overflow-x: hidden;
        ul {
            li {
                padding-left: 24px;
                padding-right: 110px;
                padding-top: 8px;
                padding-bottom: 8px;
                position: relative;
                &:not(.ls-scroll-hide) {
                    box-shadow: $box-shadow;
                }
                &:last-child {
                    margin-bottom: 0;
                    box-shadow: none;
                }
            }
        }
        .radio {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: baseline;
            label {
                flex: 1;
                @include textType(14px, 20px);
                color: $text-normal;
                margin-bottom: $margin-sm;
            }
            span {
                flex: 1;
                @include textType(13px, 18px);
                display: flex;
                align-items: center;
                i {
                    margin-right: $margin-sm;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    &:before {
                        font-size: 17px;
                    }
                }
                svg {
                    margin-right: $margin-sm;
                }
                &.success {
                    color: $success-700;
                    i {
                        color: $success-500;
                    }
                }
                &.warning {
                    color: $warning-700;
                    align-items: end;
                    i {
                        width: 16px;
                        height: 16px;
                        justify-content: center;
                        background-color: $warning-500;
                        border-radius: 50%;
                        color: #fff;
                        &:before {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }
            input[type="radio"] {
                position: absolute;
                top: 10px;
                left: 0;
            }
            .btn {
                position: absolute;
                right: 0;
                top: 8px;
                color: $text-info;
            }
        }
    }
    &-open-map {
        @extend .typo-text--xs;
        padding: 6px 12px;
        border: 1px solid #cbd1d6;
        font-weight: 400;
        i {
            display: none;
            margin-right: 4px;
        }
    }
    &__viewmore {
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid $grayscale-200;
        .carret {
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #0168fa;
            display: inline-block;
            vertical-align: middle;
            margin-left: 2px;
            margin-bottom: 2px;
            color: inherit;
        }
    }
    &__submit {
        text-align: center;
        .btn {
            @extend .typo-title--medium;
            font-weight: 500;
            padding: 15px 32px;
            width: 200px;
        }
    }
    .title {
        color: $text-title;
    }
    .st-select-color {
        &__item {
            p {
                color: $text-normal;
            }
        }
    }
    .c-dropdown {
        &-button {
            padding: 6px 28px 6px 8px;
        }
    }
    .c-modal__wrapper {
        width: 576px;
    }
}

.location {
    $this: &;
    &-loading {
        display: flex;
        position: relative;
        &__radio {
            width: 16px;
            height: 16px;
            margin-right: 16px;
            border-radius: 50%;
            position: absolute !important;
            left: -24px;
        }
        &__block {
            flex: 1;
            align-self: baseline;
        }
        &__line {
            height: 20px;
            border-radius: 4px;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}