.c-popup-warning {
    .card {
        min-height: 288px;
        &-body {
            position: relative;
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-footer {
            display: flex;
            justify-content: center;
            // box-shadow: inset 0 1px 0 0 #e1e4e6;
            // padding-top: 24px;
            .btn {
                margin: 0 4px;
                @include textType(16px, 16px);
                padding: 9px 14px;
                &-outline-info {
                    background: $white;
                    &:hover {
                        background: $blue-500;
                    }
                }
                &-outline-secondary {
                    background: $white;
                    padding: 9px 14px;
                    &:hover {
                        background: $gray-500;
                    }
                }
            }
        }
        &--popup-warning {
            padding-top: 52px;
            padding-bottom: 32px;
            text-align: center;
            justify-content: space-between;
        }
    }
    .c-modal {
        &__wrapper {
            width: 576px;
        }
        &--close {
            background: none;
            border: none;
            outline: none;
            position: absolute;
            z-index: 2;
            top: 18px;
            right: 24px;
            transform: translateY(0px);
        }
    }
    &__shape {
        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            color: $white;
            background: #e0b43a;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            &:before {
                font-size: 48px;
                line-height: 1;
            }
            &.icon-info-circled:before {
                // content: "\e960" !important;
                content: '\e94c' !important;
            }
        }
    }
    &__para {
        @extend .typo-into-elevated;
        color: #444b52;
        padding: 0 30px;
        span {
            font-weight: 500;
        }
    }
}

.c-popup {
    $this: &;
    .c-modal {
        &__wrapper {
            width: 576px;
        }
        &--close {
            background: none;
            border: none;
            outline: none;
            position: absolute;
            z-index: 2;
            top: 18px;
            right: 24px;
        }
    }
    .card {
        min-height: 252px;
        padding: 24px 0;
        &-body {
            position: relative;
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-footer {
            display: flex;
            justify-content: center;
            .btn {
                margin: 0 4px;
                @include textType(16px, 16px);
                padding: 9px 14px;
                font-family: inherit;
                &-outline-info {
                    background: $white;
                    &:hover {
                        background: $blue-500;
                    }
                }
                &-outline-secondary {
                    background: $white;
                    color: $grayscale-600;
                    font-weight: 500;
                    padding: 9px 14px;
                    border: 1px solid $grayscale-400;
                    &:hover {
                        color: $white;
                        background: $grayscale-500;
                    }
                }
                &-xl {
                    @include textType(20px, 38px, 500);
                    padding: $padding $padding * 4 - 1;
                }
            }
        }
        &--popup {
            text-align: center;
            justify-content: space-between;
        }
    }
    &__shape {
        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            color: $white;
            background: #e0b43a;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            &:before {
                font-size: 48px;
                line-height: 1;
            }
        }
    }
    &__para {
        color: $grayscale-900;
        span {
            font-weight: 500;
        }
        p {
            text-align: center;
            margin-bottom: 0;
        }
    }
    &__line {
        display: flex;
        flex-wrap: wrap;
    }
    &--success {
        .card {
            &-footer {
                margin-top: $margin * 3;
            }
            &--popup {
                padding-top: 52px;
                padding-bottom: 24px;
            }
        }
        #{$this}__para {
            padding: 0 26px;
        }
        #{$this}__shape {
            span {
                background: $success-500;
                margin-bottom: $margin;
            }
        }
    }
    &--res {
        &.modal {
            .c-modal--close {
                top: 18px;
                transform: none;
            }
        }
        .card {
            padding: 0;
            &-head {
                padding: 10px $margin * 3;
                box-shadow: $box-shadow-item;
                position: relative;
            }
            &-body {
                box-shadow: $box-shadow-item;
                padding-bottom: $padding * 2;
            }
            &-footer {
                padding: $margin * 3 0;
            }
            &-title {
                margin-bottom: 0;
                @include textType(24px, 32px);
                i {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background: #CBD1D6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 8px;
                    &::before {
                        font-size: 20px;
                    }
                }
            }
        }
        #{$this}__para {
            padding: $padding * 2 0;
            color: $text-normal;
            * {
                @extend .text-normal;
            }
        }
    }
    &--select-shop {
        &.modal {
            button.c-modal--close {
                top: 18px;
                transform: none;
                right: 24px;
            }
        }
        .card {
            padding: 0;
            min-height: auto;
            &-head {
                padding: 10px $margin * 3;
                box-shadow: $box-shadow-item;
                position: relative;
            }
            &-body {
                padding-top: $margin * 2;
                text-align: left;
            }
            &-footer {
                padding: $margin * 3 0;
                .btn {
                    font-weight: 500;
                }
            }
            &-title {
                margin-bottom: 0;
                @include textType(24px, 32px);
            }
        }
        .c-fs {
            &__block {
                text-align: left;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                .title {
                    @include textType(14px, 20px);
                    margin: 6px 8px 0 0;
                }
                &--location {
                    width: 100%;
                    .title {
                        margin-top: 16px;
                        margin-bottom: 0;
                    }
                    .c-fs__location {
                        padding: 0;
                        margin-top: 8px;
                        margin-bottom: 0;
                        ul {
                            li {
                                padding: 8px 0 8px 40px;
                                &:hover {
                                    background: $grayscale-100;
                                }
                            }
                        }
                        .radio input[type='radio'] {
                            left: 16px;
                            top: 10px;
                        }
                    }
                }
                .checkbox {
                    flex-basis: 100%;
                    margin-top: 12px;
                }
            }
            &__dropdown {
                margin-bottom: 0;
                flex: 1;
            }
            &__viewmore {
                a {
                    display: inline-flex;
                    span {
                        margin-left: 4px;
                    }
                }
            }
        }
        .c-dropdown {
            width: 100%;
            &-button {
                padding-left: 12px;
                white-space: nowrap;
                text-overflow: ellipsis;
                .icon-arrow-combo {
                    font-size: 14px;
                    color: $grayscale-500;
                }
                span {
                    pointer-events: none;
                }
            }
            &:last-child {
                .c-dropdown-menu {
                    right: 0;
                    left: unset;
                }
            }
            &-wrap {
                width: calc(50% - 4px);
            }
        }
        .feedback {
            display: none;
            margin-top: 8px;
            .stack {
                color: $danger-700;
                @include textType(14px, 20px);
                display: flex;
                i {
                    margin-top: 2px;
                    margin-right: 4px;
                    color: $danger-500;
                    &.ic-circle {
                        width: 16px;
                        height: 16px;
                        font-size: 14px;
                        border-radius: 50%;
                        color: #fff !important;
                        background: $danger-500;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                div {
                    flex: 1;
                }
            }
        }
    }
    &--tl-loyalty {
        overflow-y: hidden;        
            ol{
              list-style: none;
            }
        .c-modal__wrapper {
            width: 776px;
            .c-modal__box {
                //   max-height: 85vh;
                //   height: 100%;
            }
        }
        button.c-modal--close {
            top: 8px !important;
            transform: none;
            right: 0;
        }
        .card {
            padding: 0;
            // max-height: 85vh;
            // overflow: hidden;
            &-head {
                padding: 10px 24px;
                box-shadow: $box-shadow-item;
                position: relative;
            }
            &-body {
                text-align: left;
                align-items: baseline;
                padding: 16px 24px;
                overscroll-behavior: contain;
                max-height: 70vh;
                overflow: hidden;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 6px;
                }
                /* Track */
                &::-webkit-scrollbar-track {
                    background-color: $grayscale-400;
                }
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    border-radius: 100px;
                    background-color: $grayscale-600;
                }
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: $grayscale-700;
                }
            }
            &-title {
                margin-bottom: 0;
                justify-content: flex-start;
                align-items: center;
                @include textType(24px, 32px);
                box-shadow:unset !important;
                padding:0 !important;
                i{
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    color: white;
                    background-color: #CBD1D6;
                    margin-right: 8px;
                }
            }
        }
        .rules {
            .title{
                font-size: 20px;
                line-height: 28px;
                color: #32373D;
                font-weight: 500;
            }
            .sub{
                font-size: 18px;
                line-height: 24px;
                color: #32373D;
                font-weight: 500;
                padding-left: 16px;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #444B52;
                margin-bottom: 16px;
                i{
                    font-size: 16px;
                    line-height: 24px;
                }
               &.red{
                color: #CB1C22;
                font-weight: 500;
               }
               &.item{
                padding-left: 32px;
               }
            }
            table{
                margin: 0 0 16px 32px;
                thead{
                    p{
                        font-weight: 500;
                    }
                }
                td{
                    border: 1px solid #000;
                    width: 300px;
                }
                p{
                    padding: 8px 10px ;
                    margin: 0;
                }
            }
            strong{
                font-weight: 500;
            }
            ul {
                margin: 16px 0;
                padding-left: 16px;
            }
            li{
                .item{
                    display: block;
                    padding-left: 16px;
                    margin-top: 16px;
                }
               p{
                position: relative;
                padding-left: 16px;
                margin-bottom: 0;
                &::before{
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 4px;
                    top: 12px;
                    left: 8px;
                    transform: translate(-50%,-50%);
                    background-color: #444B52;
                }
               }
            }
            li,
            p {
                @include textType(16px, 24px);
            }
            >*:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--cart-change {
        .card {
            // min-height: 252px;
        }
    }
    &--video {
        .modal {
            &__content {
                max-width: 776px;
            }
            &__body {
                padding: 48px 16px 16px;
                .iframe {
                    @include aspect-ratio(100, 56.25, 0);
                    margin-bottom: 16px;
                }
                .name {
                    @include textType(20px, 28px, 500);
                    color: $grayscale-800;
                    margin-bottom: 8px;
                }
                .sub {
                    @include textType(14px, 20px);
                    color: $grayscale-500;
                }
            }
        }
    }
}