.c-dropdown {
  position: relative;
  display: inline-block;
  $this: &;
  &-button {
    // height: 28px;
    width: 100%;
    padding: 4px 28px 4px 8px;
    color: $text-normal;
    cursor: pointer;
    overflow: hidden;
    background-color: #ffffff;
    // background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    // 	no-repeat right 12px center/8px;
    transition: all 0.3s ease;
    font-weight: normal;
    @include textType(14px, 20px);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &--lg {
      padding: 6px 28px 6px 8px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 4px;
      border: $border;
      transition: all 0.3s ease;
    }
    &:hover {
      &:before {
        border-color: $grayscale-500;
      }
    }
    & {
      [class*="ic-"],
      [class*="icon-"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        right: 8px;
        width: 16px;
        height: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-menu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 95;
    left: -1px;
    top: calc(100% + #{$margin-sm});
    width: min-content;
    min-width: 100%;
    max-width: 140%;
    padding-bottom: 1px;
    background-color: $white;
    box-sizing: content-box;
    border-radius: $border-radius;
    border: $border;
    overflow: hidden;
    box-shadow: 0px 2px 6px 1px rgba(181, 181, 181, 0.5);
    transform: translateY(4px);
    transition: all 0.3s ease;
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    a {
      width: 100%;
      padding: $padding;
      color: $text-normal;
      box-shadow: inset 0 -1px 0 0 #edeeef;
      @include textType(14px, 20px, normal);
      display: inline-flex;
      align-items: center;
      position: relative;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:focus {
        background-color: $gray-300;
      }
      &:hover {
        background-color: $gray-200;
        .ic-checkbox {
          // border: 1px solid $red-500;
        }
      }
      &.active {
        font-weight: 500;
        background-color: $gray-100;
        .ic-checkbox {
          border: $red-500;
          background-color: $red-500;
          &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 6px;
            display: table;
            width: 5px;
            height: 11px;
            border: 2px solid #fff;
            border-top-width: 0;
            border-left-width: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
      &:last-child {
        box-shadow: none;
      }
    }
    &__wrapper {
      overscroll-behavior: contain;
      font-size: 0;
      max-height: 200px;
      min-width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      @include scrollbar();
      @include respond(xsm) {
        overflow-y: unset;
        max-height: 100%;
      }
    }
    &__top {
      padding: $padding;
      // box-shadow: 0px 2px 6px 1px $grayscale-300;
    }
    &__search {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input.cs-input {
        display: block;
        padding-left: 28px;
        width: 100%;
      }
      .cs-input-group {
        flex: 1;
      }
      a.st-search__close {
        display: block;
        width: auto !important;
        margin-left: 8px;
        padding: 0 !important;
        text-decoration: none !important;
        box-shadow: none;
        color: #0168fa;
      }
      &__icon {
        position: absolute;
        left: $margin;
        top: 50%;
        transform: translateY(-50%);
        font-size: 17px;
      }
    }
  }
  &--col {
    #{$this}-menu {
      a {
        width: 50%;
        box-shadow: none;
        padding: 6px $padding * 2;
        &:hover {
          border-radius: $border-radius;
        }
        &:focus {
          border-radius: $border-radius;
        }
        &.active {
          border-radius: $border-radius;
          background-color: $grayscale-100;
        }
      }
    }
  }
  &--popup {
    #{$this}-menu {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      min-width: unset;
      max-width: unset;
      &__wrapper {
        max-height: 95%;
        height: 94vh;
        border-radius: 6px;
        box-shadow: 0 0 4px 0 #e1e4e6;
        border: solid 1px #cbd1d6;
        background-color: #ffffff;
        margin: 0 $margin;
        padding: $padding-sm $padding;
        min-width: calc(100% - #{$margin} * 2);
      }
    }
    .st-search-input {
      .cs-input-group {
        input {
          padding: 3px 8px 3px 30px;
        }
        .icon-cancel {
          color: $grayscale-500;
        }
      }
    }
  }
  &.is-invalid{ 
    .c-dropdown-button:before{
      border-color: $danger-500;
      
    }
  }
}
