.post {
    &__wrapper {
        max-width: 676px;
        margin: 0 auto;
    }

    &__title,
    h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #212529;
        padding: 16px 10px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
        color: #32373D;
        padding-top: 20px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #444B52;
        padding-top: 16px;
        margin: 0;

        i {
            color: #444B52;
            font-size: 16px;
            line-height: 24px;
        }

        .re-link {
            position: relative;
            display: inline;
            color: #0664F9;
            font-size: 16px;
            line-height: 24px;
        }

        &.post__credit {
            text-align: right;
            font-weight: 500;

            a {
                font-weight: 400;
                color: #0664F9;
            }
        }

        span {
            display: block;
        }
    }

    img,
    iframe {
        border-radius: 4px;
    }

    ul {
        padding-top: 16px;

        li {
            position: relative;
            display: inline-flex;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #444B52;

            i {
                font-size: 18px;
                line-height: 24px;
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            &::before {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: #444B52;
                margin: 8px 4px 0 0;
            }

            &.list-link::before {
                background: #0664f9;
            }
        }
    }

    &__author {
        padding: 12px 10px;

        &-comment {
            margin-top: 4px;
        }

        &-comment,
        span {
            font-size: 14px;
            line-height: 20px;
            color: #0664F9;
            cursor: pointer;
        }
    }

    &__list {
        li,
        li.post__list-item {
            a {
                position: relative;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #0664F9;
            }

            &::before {
                width: 4px;
                height: 4px;
                background: #0664f9;
            }
        }
    }

    &__summary,
    h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #32373D;
        padding-top: 16px;
    }

    &__share {
        text-align: right;
        padding: 20px 0;

        a {
            display: inline-block;
            background: #0664F9;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            border-radius: 4px;
            color: #FFF;
            padding: 4px 9px;

            i {
                margin-right: 4px;
            }
        }

        >*:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__related {
        padding-top: 20px;

        .badge-group {
            display: flex;
            flex-wrap: wrap;

            .badge {
                background: #EDEEEF;
                border: 1px solid #EDEEEF;
                border-radius: 4px;
                padding: 4px 7px;
                margin: 0 8px 8px 0;

                label {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #6A737A;
                }
            }
        }

        &-item:not(:first-child) {
            padding-top: 8px;
        }
    }

    .product__booking {
        background: #FFFFFF;
        border: 1px solid #E1E4E6;
        border-radius: 4px;
        padding: 8px;
        margin-top: 16px;

        .row {
            align-items: center;
        }

        img {
            max-width: 120px;
            min-width: 120px;
        }

        .product {
            margin-left: 8px;
            flex: 1;

            &__name {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #32373D;
            }

            &__price {
                flex-direction: column;
                margin-bottom: 8px;

                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    color: #CB1C22;
                }

                strike {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 100%;
                    color: #939CA3;
                    padding-top: 4px;
                }
            }

            &__badge {
                background: #CB1C22;
                border: 1px solid #CB1C22;
                border-radius: 4px;
                padding: 0 5px;
                margin-left: 4px;

                span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    color: #FFFFFF;
                }
            }
        }
    }

    .product__features {
        display: flex;
        flex-direction: column;
        background: #F8F9FA;
        border-radius: 4px;
        padding: 8px 10px;

        li,
        span,
        i {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #939CA3;
        }

        li {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0;

            i {
                font-size: 16px;
                line-height: 1;
                margin-right: 8px;
            }

            &::before {
                display: none;
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    .booking__btn {
        display: inline-block;
        background: #CB1C22;
        border-radius: 4px;
        padding: 5px 16px;

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #FFF;
        }
    }
}